/* --- Base et Reset --- */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000;
  color: white;
}

#game-canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#hud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  padding: 20px;
  box-sizing: border-box;
}

#spell-list {
  position: absolute;
  top: 20px;
  left: 20px;
  list-style: none;
  padding: 15px;
  padding-top: 0px;
  margin: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  border-left: 4px solid #8e44ad;
  border-radius: 0 10px 10px 0;
  min-width: 150px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

#spell-list li {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #bdc3c7;
  text-transform: lowercase;
  font-weight: bold;
}

#stats {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  padding: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

#stats span {
  font-size: 1.1rem;
  font-weight: bold;
}
#hp {
  font-size: 1.3rem;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 210px;

  backdrop-filter: blur(5px);

  border-radius: 15px;

  gap: 10px;
}

#player-health {
  color: #e74c3c;
  font-size: 1.4rem;
}

#timer {
  color: #f1c40f;
}
#current-score {
  color: #2ecc71;
}

#game-over-screen {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  text-align: center;
}

#game-over-screen h2 {
  font-size: 5rem;
  color: #e74c3c;
  margin-bottom: 20px;
}

#restart-btn {
  padding: 15px 40px;
  font-size: 1.5rem;
  background: #8e44ad;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition:
    transform 0.2s,
    background 0.2s;
}

#restart-btn:hover {
  background: #9b59b6;
  transform: scale(1.1);
}

@keyframes clignote {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.word-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: baseline;
  pointer-events: none;
  z-index: 20;
}

#currentWord {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
  text-shadow:
    0 0 20px rgba(142, 68, 173, 0.8),
    0 0 5px white;
  margin: 0;
}

.clignotant {
  font-size: 4rem;
  font-weight: 900;
  color: #fff;
  text-shadow:
    0 0 20px rgba(142, 68, 173, 0.8),
    0 0 5px white;
  margin-left: 5px;
  animation: clignote 1s infinite linear;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.menu-content {
  text-align: center;
  color: #00d2ff;
  font-family: "Courier New", Courier, monospace;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.menu-content h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  text-shadow: 0 0 15px #00d2ff;
}

#start-btn {
  margin-top: 20px;
  padding: 18px 45px;
  font-size: 24px;
  background: #00d2ff;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s ease;
}
#start-btn:hover {
  background: #fff;
}
#boss-ui {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  z-index: 100;
  pointer-events: none;
  text-align: center;
}

.boss-name {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  font-weight: bold;
  color: #ff0055;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #ff0055;
}

.boss-hp-container {
  height: 30px;
  background: rgb(56, 27, 0);
  border: 10px solid #311a00;
  border-radius: 10px;
  border-style: double;
  position: relative;
  box-shadow:
    0 0 15px rgba(74, 45, 0, 0.539),
    inset 0 0 10px rgba(0, 0, 0, 1);
  overflow: hidden;
}

#boss-hp-fill {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #ff0000 0%, #00a90e 80%);
  transition: width 0.3s ease-out;
}

.boss-hp-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 30px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}
.hidden {
  display: none !important;
}
#damage-vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(255, 0, 0, 0) 60%,
    rgba(255, 0, 0, 0.6) 100%
  );
  pointer-events: none;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.flash-red {
  opacity: 1 !important;
}

.table-container {
  max-height: 120px;
  overflow-y: auto;
  margin: 20px 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

th {
  background: rgba(255, 0, 0, 0.3);
  position: sticky;
  top: 0;
}
